/* =================Search start================== */
.search-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border: 1px solid;
	border-radius: 1.625rem;
	margin: 0.6rem auto;
}

.search-wrapper .search-input {
	flex-grow: 1;
	font-size: 0.8rem;
	outline: none;
	padding: 0.3rem 0 0.3rem 0.6rem;
	border: none;
	border-radius: 1.625rem;
}

.search-wrapper .clear-search {
	padding: 0.3rem 0.6rem;
	font-size: 1.3rem;
	border: none;
	cursor: pointer;
}
/* =================Search end================== */
