* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

.App {
	margin: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}

.notes-container {
	display: flex;
	justify-content: space-between;
	background: #000;
}

.notes-container .notes-sidebar,
.notes-container .notes-main {
	height: calc(100vh - 2rem);
	border: 1px solid #000;
	padding: 1rem;
}

.notes-container .notes-sidebar {
	width: 40%;
	overflow-y: auto;
}

.notes-container .notes-main {
	width: 70%;
}