* {
	box-sizing: border-box;
}

.App {
	margin: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}

.App .notes-container {
	display: flex;
	justify-content: space-between;
	background: #666;
}

.App .notes-container .notes-sidebar,
.App .notes-container .notes-main {
	height: calc(100vh - 2rem);
	border: 1px solid #000;
	padding: 1rem;
}

.App .notes-container .notes-sidebar {
	width: 30%;
	overflow: auto;
}

.App .notes-container .notes-main {
	width: 70%;
}

/* ==================Notes=================== */
/* Notes Editor */

.note-editor-body {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 10rem);
}

.note-editor-body input {
	margin-bottom: 1.5rem;
	padding: 1rem;
}

.note-editor-body textarea {
	resize: none;
	height: 100%;
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
}

.note-editor-body .character-limit {
	font-size: 0.8rem;
	color: #f0f2fc;
	margin-bottom: 1rem;
}

.add-note {
	padding: 0.3rem;
	border: 1px solid;
	border-radius: 3px;
}

/* Notes List */
.no-notes-message {
	color: #f0f2fc;
}

/* Notes Preview */
.notes-details-preview {
	padding: 0.5rem;
	background: beige;
	margin: 0 auto 0.8rem;
}

.notes-details-preview.active {
	background: yellowgreen;
}

.notes-details-preview .notes-header {
	display: flex;
	flex-direction: row-reverse;
}

.notes-details-preview .notes-header .delete-notes {
	fill: grey;
}

.notes-details-preview .notes-content h5 {
	margin: 0;
	text-transform: capitalize;
}

.notes-details-preview .notes-content p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.8rem;
}

.notes-details-preview .notes-footer {
	font-size: 0.8rem;
	color: grey;
	text-align: right;
	display: block;
}

/* ==================Alert=================== */
/* The alert message box */
.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.light {
	color: #818182;
	background-color: #fefefe;
	border-color: #fdfdfe;
}

.dark {
	color: #1b1e21;
	background-color: #d6d8d9;
	border-color: #c6c8ca;
}

.error {
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
}

.success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.primary {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
}

.secondary {
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db;
}

.info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

/* The close button */
.closebtn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem 1.25rem;
	color: inherit;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}

/* =================Search================== */
.search-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border: 1px solid;
	border-radius: 1.625rem;
	margin: .6rem auto ;
}

.search-wrapper .search-input {
	flex-grow: 1;
	font-size: .8rem;
    outline: none;
    padding: 0.3rem 0 0.3rem 0.6rem;
	border: none;
	border-radius: 1.625rem;
}

.search-wrapper .clear-search {
padding: .3rem .6rem;
font-size: 1.3rem;
border: none;
cursor: pointer;
}
	
