* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

.App {
	margin: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}

.App .notes-container {
	display: flex;
	justify-content: space-between;
	background: #000;
}

.App .notes-container .notes-sidebar,
.App .notes-container .notes-main {
	height: calc(100vh - 2rem);
	border: 1px solid #000;
	padding: 1rem;
}

.App .notes-container .notes-sidebar {
	width: 40%;
	overflow-y: auto;
}

.App .notes-container .notes-main {
	width: 70%;
}

/* ==================Notes=================== */
/* Notes Editor */

.note-editor-body {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 12rem);
	position: relative;
	overflow: auto;
}

.note-editor-body input {
	margin-bottom: 1.5rem;
	padding: 1rem;
}

.note-editor-body textarea {
	resize: none;
	height: 100%;
	width: 100%;
	padding: 1rem;
}

.note-editor-body .character-limit {
	font-size: 0.8rem;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	color: #8f929a;
}

.new-note {
	padding: 0.3rem;
	border: 1px solid;
	border-radius: 3px;
	color: white;
	margin-left: auto;
	margin-right: 0;
	display: block;
	background: transparent;
}

/* Notes List */
.no-notes-message {
	color: #9e9fa0;
	font-size: 0.9rem;
	padding-left: 0.5rem;
}

.notes-list {
	max-height: 20rem;
	overflow: auto;
}

/* Notes Preview */
.notes-details-preview,
.notes-list-preview {
	padding: 0.5rem;
	background: beige;
	margin: 0 auto 0.8rem;
	min-width: 100%;
}

.notes-list-preview {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	margin: 0 auto 0.1rem;
}

.notes-details-preview.active,
.notes-list-preview.active {
	filter: hue-rotate(45deg);
}

.notes-details-preview .notes-header {
	display: flex;
	flex-direction: row-reverse;
}

.notes-details-preview .notes-header .delete-notes,
.notes-list-preview .delete-notes {
	color: #888;
	cursor: pointer;
}

.notes-details-preview .notes-content h5,
.notes-list-preview h5 {
	margin: 0;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.notes-details-preview .notes-content p,
.notes-list-preview p.notes-content {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.8rem;
}

.notes-details-preview .notes-footer .note-timing {
	font-size: 0.8rem;
	color: #888;
	text-align: right;
	display: block;
	margin-top: 0.5rem;
}

.notes-details-preview .notes-footer .note-tags {
	color: #444;
	font-size: 0.75rem;
	display: flex;
}

.notes-details-preview .notes-footer .note-tags i {
	margin-top: 0.2rem;
}

.notes-details-preview .notes-footer .note-tags span {
	margin-left: 0.3rem;
}

/* ==================Alert start=================== */
/* The alert message box */
.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: all ease-in-out 5s;
}

.light {
	color: #818182;
	background-color: #fefefe;
	border-color: #fdfdfe;
}

.dark {
	color: #1b1e21;
	background-color: #d6d8d9;
	border-color: #c6c8ca;
}

.error {
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
}

.success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.primary {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
}

.secondary {
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db;
}

.info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

/* The close button */
.closebtn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem 1.25rem;
	color: inherit;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}
/* =================Alert end================ */

/* =================Accordion start================ */
.accordion {
	margin: 0.5rem auto;
}

.accordion .accordion-item {
	margin-bottom: 1rem;
}

.accordion .accordion-item .accordion-item-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: bold;
	color: white;
	gap: 0.5rem;
	padding: 0.5rem;
}

.accordion .accordion-item .accordion-item-title:hover,
.accordion .accordion-item.active .accordion-item-title {
	background: #707070;
}

.accordion .accordion-item .accordion-item-title h5 {
	font-weight: normal;
}

.accordion .accordion-item .accordion-item-body {
	padding-left: 2rem;
	padding-top: 0.5rem;
}
/* =================Accordion End================ */

/* =================Search start================== */
.search-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border: 1px solid;
	border-radius: 1.625rem;
	margin: 0.6rem auto;
}

.search-wrapper .search-input {
	flex-grow: 1;
	font-size: 0.8rem;
	outline: none;
	padding: 0.3rem 0 0.3rem 0.6rem;
	border: none;
	border-radius: 1.625rem;
}

.search-wrapper .clear-search {
	padding: 0.3rem 0.6rem;
	font-size: 1.3rem;
	border: none;
	cursor: pointer;
}
/* =================Search end================== */

/* ======================= Tags start========================== */
.add-tag {
	outline: none;
	border: none;
	color: #666;
	padding: 0.3rem 0.8rem;
	margin: 1rem 0;
	border-radius: 0.2rem;
	background: white;
	display: block;
}

.add-tag .tags-icon {
	color: #888;
	position: relative;
	top: 3px;
	right: 5px;
}

.tags-label {
	margin: 1rem 0;
	color: white;
}

.tags-wrapper {
	display: flex;
	flex-flow: row wrap;
	padding: 0.4rem;
	background: white;
	border-radius: 0.2rem;
	margin: 1rem auto;
	max-height: 5rem;
	overflow: auto;
}

.tags-wrapper .tag {
	background: #dedede;
	padding: 0.2rem 0;
	border: none;
	border-radius: 0.8rem;
	margin: 0.3rem;
	display: inline-block;
}

.tags-wrapper .tag:first-child {
	margin-left: 0;
}

.tags-wrapper .tag-name {
	margin: 0 0.4rem;
	font-size: 0.8rem;
}

.tags-wrapper .cancel-tag {
	margin: 0 0.4rem;
	font-size: 0.9rem;
	cursor: pointer;
}

.tags-wrapper input.new-tag {
	background: transparent;
	outline: none;
	border: none;
	flex-grow: 1;
}
/* ======================= Tags end========================== */

/* ====================== Sidebar Notes menu start======================== */
.notes-list-menu {
	background: white;
	display: flex;
	color: #888;
	align-items: center;
	justify-content: space-around;
	padding: 0.4rem;
}

.notes-list-menu .menu-option {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.notes-list-menu .menu-option label {
	font-size: 0.7rem;
}

.notes-list-menu .menu-option .menu-option-wrapper {
	padding: 0px 0.5rem;
}

.notes-list-menu .menu-option .menu-option-wrapper:hover ul {
	display: block;
}

.notes-list-menu .menu-option .menu-option-wrapper ul {
	list-style: none;
	font-size: 0.7rem;
	position: absolute;
	background: #9a9a9a;
	color: #fff;
	min-width: 5rem;
	margin: 0;
	padding: 0;
	z-index: 1;
	top: 1rem;
	left: 2rem;
	display: none;
}

.notes-list-menu .menu-option .menu-option-wrapper ul li {
	padding: 0.3rem;
}

.notes-list-menu .menu-option .menu-option-wrapper ul li:hover,
.notes-list-menu .menu-option .menu-option-wrapper ul li.active {
	background: #888;
}

.notes-list-menu .toggle-view {
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	width: max-content;
}

.notes-list-menu .menu-option svg {
	width: 1.4rem;
	height: 1.4rem;
	padding: 0.2rem;
}

.notes-list-menu .menu-option .toggle-view svg.active {
	border: 1px solid;
}
/* ====================== Sidebar Notes menu start======================== */
