/* ======================= Tags start========================== */
.add-tag {
	outline: none;
	border: none;
	color: #666;
	padding: 0.3rem 0.8rem;
	margin: 1rem 0;
	border-radius: 0.2rem;
	background: white;
	display: block;
}

.add-tag .tags-icon {
	color: #888;
	position: relative;
	top: 3px;
	right: 5px;
}

.tags-label {
	margin: 1rem 0;
	color: white;
}

.tags-wrapper {
	display: flex;
	flex-flow: row wrap;
	padding: 0.4rem;
	background: white;
	border-radius: 0.2rem;
	margin: 1rem auto;
	max-height: 5rem;
	overflow: auto;
}

.tags-wrapper .tag {
	background: #dedede;
	padding: 0.2rem 0;
	border: none;
	border-radius: 0.8rem;
	margin: 0.3rem;
	display: inline-block;
}

.tags-wrapper .tag:first-child {
	margin-left: 0;
}

.tags-wrapper .tag-name {
	margin: 0 0.4rem;
	font-size: 0.8rem;
}

.tags-wrapper .cancel-tag {
	margin: 0 0.4rem;
	font-size: 0.9rem;
	cursor: pointer;
}

.tags-wrapper input.new-tag {
	background: transparent;
	outline: none;
	border: none;
	flex-grow: 1;
}
/* ======================= Tags end========================== */
